.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    margin-bottom: 0.5rem;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--buttonBackgroundColor);
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: var(--buttonHoverBorderColor);
}