.resultMessage {
    padding: 1rem;
    border-radius: 5px;
    color: var(--textColor);
    text-align: center;
    margin-top: 1rem;
}

.red {
    background-color: var(--colorRed);
}

.orange {
    background-color: var(--colorOrange);
}

.purple {
    background-color: var(--colorPurple);
}

.darkgreen {
    background-color: var(--colorDarkGreen);
}

.green {
    background-color: var(--colorGreen);
}

.blue {
    background-color: var(--colorBlue);
}