* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;
}

:root {
    --textColor: #ffffff;
    --secondaryTextColor: #646cff;
    --backgroundColor: #242424;
    --secondaryBackgroundColor: #1a1a1a;
    --buttonBackgroundColor: #1a1a1a;
    --buttonHoverBackgroundColor: #535bf2;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}