* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;
}

:root {
    --textColor: #ffffff;
    --buttonBackgroundColor: #535bf2;
    --buttonHoverBackgroundColor: #747bff;
    --colorRed: red;
    --colorOrange: orange;
    --colorPurple: purple;
    --colorDarkGreen: darkgreen;
    --colorGreen: green;
    --colorBlue: blue;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}